<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>
<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p><%= link_to "change_password", "https://www.vstapp.co.za/reset_password?token=#{@token}" %></p>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>